.TransactionSummaries{
    width: 80%;
    height: 75px;
    outline: 1px #333;
    display: flex;
    box-sizing: border-box;
    margin: 40px 50px;
    justify-content: space-between;
    flex-flow: row;
    align-items: center;
}
