.NavigationItem {
    margin: 0;
    display: flex;
    width: auto;
    align-items: center;
    height: 100%;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 19px;
}

.NavigationItem a {
    color:  #647787;;
    height: 100%;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    margin: 30px;

}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #1875F0;
} 
